<server description="Sample Liberty server">

  <featureManager>
      <feature>jaxrs-2.0</feature>
  </featureManager>

  <httpEndpoint httpPort="${default.http.port}" httpsPort="${default.https.port}"
      id="defaultHttpEndpoint" host="*" />

  <webApplication location="openliberty-jaxrs-example-1.0-SNAPSHOT.jar" contextRoot="${app.context.root}"/>
</server>